@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-x-visible {
  scrollbar-color: #ccc transparent; 
  scrollbar-width: thin;            
}
.scroll-x-visible::-webkit-scrollbar {
  height: 8px;
}
.scroll-x-visible::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-x-visible::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 8px;
}
